.agent {
    min-height: 342px;
    background: url(../img/photo/agent/wall_of_China.jpg);
    padding: 58px 0 75px 0;
    transition: 1s all;
    &:hover {
        background: url(../img/photo/agent/after_click.jpg);
    }
    &__img {
        display: block;
        margin: 0 auto;
    }
    &__header {
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
        line-height: 26px;
        margin-top: 20px;
    }
    &__subheader {
        font-size: 19px;
        font-weight: 300;
        line-height: 19px;
        text-align: center;
        margin-top: 22px;
        color: rgba(255,255 ,255, 0.9);
    }
}