.form {
    display: flex;
    justify-content: center;
    &__wrapper {
        max-width: 290px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.feed-form {
    position: relative;
    width: 300px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    input {
        width: 300px;
        height: 50px;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: #ffffff;
        padding-left: 20px;
        font-size: 14px;
        font-weight: 300;
        color: #4b4b4b;
        &:focus {
            outline: none;
            border: solid 1px rgba(0, 0, 0, 0.21);
        }
    }
    &_mt-25 {
        margin-top: 25px;
    }
}

.error-message_consultation-form {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

.error-message_feed-form {
    color: #fff;
    margin: 0 auto;
    margin-top: 5px;
}

#consultation, #thanks {
    display: none;
}